@use "../../common/stylesheet/index" as *;

.container {
    flex-direction: column;
}

.compact {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 34px;
    border-bottom: 1px solid var(--mid-header-font);

    .outline {
        order: 2;
        justify-content: flex-start;
        min-width: 0;
        margin: 0;
        border: 0;
        background: transparent;
        font-family: monospace;
    }

    .title,
    .emphTitle {
        order: 1;
        width: 92px;
        padding-left: 10px;
        color: var(--mid-header-font);
        font-size: 12px;
        text-align: left;
        text-transform: uppercase;
    }
}

.outline {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 22px;
    min-width: 90px;
    border: 1px solid;
    font-size: 14px;
    color: var(--mid-header-font);
    background: var(--array-2d-row-col-bg);
    text-align: center;
    margin-bottom: 6px;
}

.title {
    font-size: 12px;
    color: var(--mid-header-font);
    text-align: center;
}

// used to ephasise base 4/binary: whatever is the most important thing to
// look at
.emphTitle {
    font-size: 13px;
    color: var(--apple);
    text-align: center;
}

.highlighted {
    color: var(--apple);  // XXX not great contrast
}
